<script>
	import { configureWiFiURL, rebootURL } from '$lib';

	// Modes are defined in components/wifi/wifi.h#enum wifi_mode.
	const wifi_mode_ap = 1;
	const wifi_mode_station = 2;

	let wifi_ssid = '';
	let wifi_password = '';
	let wifi_mode = -1;

	/**
	 * @param {string} ssid
	 * @param {string} password
	 * @param {number} mode
	 */
	function checkSettings(ssid, password, mode) {
		if (ssid.length < 8) {
			alert('SSID must be longer than 8 characters');
			return false;
		}

		if (password.length < 8) {
			alert('Password must be longer than 8 characters');
			return false;
		}

		if (mode != wifi_mode_ap && mode != wifi_mode_station) {
			alert('Mode must be either Access Point or Station');
			return false;
		}

		return true;
	}

	function saveNoReboot() {
		if (wifi_ssid == '' || wifi_password == '' || wifi_mode == -1) {
			alert('WiFi settings are not configured!');
			return;
		}

		if (!checkSettings(wifi_ssid, wifi_password, wifi_mode)) {
			return;
		}

		fetch(configureWiFiURL, {
			method: 'POST',
			body: JSON.stringify({
				ssid: wifi_ssid,
				password: wifi_password,
				mode: wifi_mode
			})
		}).catch(function (err) {
			alert('Can not save WiFi settings: ' + err);
		});
	}

	async function saveReboot() {
		if (wifi_ssid == '' || wifi_password == '' || wifi_mode == -1) {
			alert('WiFi settings are not configured!');
			return;
		}

		if (!checkSettings(wifi_ssid, wifi_password, wifi_mode)) {
			return;
		}

		let resp = await fetch(configureWiFiURL, {
			method: 'POST',
			body: JSON.stringify({
				ssid: wifi_ssid,
				password: wifi_password,
				mode: wifi_mode
			})
		});

		if (resp.status != 200) {
			alert('Can not save WiFi settings: ' + (await resp.text()));
			return;
		}

		resp = await fetch(rebootURL, {
			method: 'POST'
		});

		if (resp.status == 200) {
			alert('Device reboot command sent, try to reconnect later (up to 1 minute)');
		} else {
			alert('Can not send reboot command: ' + (await resp.text()));
		}
	}
</script>

<div class="pure-g">
	<div class="pure-u-1-1">
		<table class="pure-table">
			<thead>
				<td>Option</td>
				<td>Value</td>
			</thead>
			<tbody>
				<tr>
					<td>WiFi SSID</td>
					<td><input type="text" bind:value={wifi_ssid} /></td>
				</tr>
				<tr>
					<td>WiFi Password</td>
					<td><input type="password" bind:value={wifi_password} /></td>
				</tr>
				<tr>
					<td>WiFi Mode</td>
					<td>
						<select bind:value={wifi_mode}>
							<option value={wifi_mode_ap}>Access Point</option>
							<option value={wifi_mode_station}>Station</option>
						</select>
					</td>
				</tr>
			</tbody>
			<tbody>
				<tr>
					<td
						><input
							type="button"
							value="Save no Reboot"
							on:click={saveNoReboot}
							class="pure-button"
						/></td
					>
					<td
						><input
							type="button"
							value="Save and Reboot"
							on:click={saveReboot}
							class="pure-button"
						/></td
					>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2">
						<a class="pure-button" href="/">To Main</a>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<style lang="less">
</style>
