<script>
	import { rebootURL, videoURL, wsURLPath } from '$lib';

	const stubVideoURL = '/icons/camera-video.svg';

	let lVideoURL = stubVideoURL;

	let carReportedSpeed = -1;
	let carReportedSonar = -1;
	let carReportedServo = -1;
	let carReportedBattery = -1;
	let carReportedUptime = -1;

	/**
	 * @type {string | number | NodeJS.Timeout | null | undefined}
	 */
	let commandsIntervalTimer = null;
	let commandsActive = {};

	/**
	 * @type {WebSocket | null}
	 */
	let carControlWS = null;

	let carSpeed = 10;
	let servoAngle = 0;

	let streamRunning = false;

	const carSpeedMax = 20;
	const carSpeedMin = 1;
	const carSpeedStep = 1;

	const servoAngleMin = -90;
	const servoAngleMax = 90;
	const servoAngleStep = 5;

	const carMoveDurationMS = 200;
	const carCommandsRepeatIntervalMS = 100;

	// See components/control_stream/control_stream.h for the values.
	const carActionMoveForward = 3;
	const carActionMoveBack = 4;
	const carActionMoveLeft = 5;
	const carActionMoveRight = 6;

	const carActionServoSetAngle = 17;
	const carActionSetSpeed = 10;
	const carActionSetMoveDuration = 14;

	// Browser key events to their functions.
	const commandKeyBindings = {
		KeyW: moveForward,
		KeyS: moveBack,
		KeyA: moveLeft,
		KeyD: moveRight,
		KeyE: cameraRight,
		KeyQ: cameraLeft,
		KeyP: cameraCenter,
		KeyO: speedUp,
		KeyK: speedDown
	};

	// Conversion functions
	/**
	 * @param {number} ui_speed
	 */
	function speedToCar(ui_speed) {
		return ui_speed * 10 + 50;
	}

	/**
	 * @param {number} car_speed
	 */
	function speedFromCar(car_speed) {
		return (car_speed - 50) / 10;
	}

	/**
	 * @param {number} angle
	 */
	function servoToCar(angle) {
		return angle + 90;
	}

	/**
	 * @param {number} angle
	 */
	function servoFromCar(angle) {
		return angle - 90;
	}

	function moveLeft() {
		console.log('move left');
		sendControlCommand(carActionMoveLeft, carMoveDurationMS);
	}
	function moveRight() {
		console.log('move right');
		sendControlCommand(carActionMoveRight, carMoveDurationMS);
	}
	function moveForward() {
		console.log('move forward');
		sendControlCommand(carActionMoveForward, carMoveDurationMS);
	}
	function moveBack() {
		console.log('move back');
		sendControlCommand(carActionMoveBack, carMoveDurationMS);
	}

	function cameraRight() {
		console.log('camera right');
		if (servoAngle - servoAngleStep < servoAngleMin) {
			servoAngle = servoAngleMin;
		} else {
			servoAngle = servoAngle - 5;
		}

		sendControlCommand(carActionServoSetAngle, servoToCar(servoAngle));
	}
	function cameraLeft() {
		console.log('camera left');
		if (servoAngle + servoAngleStep > servoAngleMax) {
			servoAngle = servoAngleMax;
		} else {
			servoAngle = servoAngle + 5;
		}

		sendControlCommand(carActionServoSetAngle, servoToCar(servoAngle));
	}
	function cameraCenter() {
		console.log('camera center');
		servoAngle = 0;

		sendControlCommand(carActionServoSetAngle, servoToCar(servoAngle));
	}

	function speedUp() {
		console.log('speed up');
		if (carSpeed + carSpeedStep > carSpeedMax) {
			carSpeed = carSpeedMax;
		} else {
			carSpeed = carSpeed + carSpeedStep;
		}

		sendControlCommand(carActionSetSpeed, speedToCar(carSpeed));
	}
	function speedDown() {
		console.log('speed down');
		if (carSpeed - carSpeedStep < carSpeedMin) {
			carSpeed = carSpeedMin;
		} else {
			carSpeed = carSpeed - carSpeedStep;
		}

		sendControlCommand(carActionSetSpeed, speedToCar(carSpeed));
	}

	/**
	 * @param {{ data: string; }} msg
	 */
	function handleCarStatusReport(msg) {
		let message = JSON.parse(msg.data);

		// console.log(message);

		carReportedBattery = message.battery.toPrecision(2);
		carReportedServo = servoFromCar(message.servo);
		carReportedSonar = message.sonar_distance;
		carReportedSpeed = speedFromCar(message.speed);
		carReportedUptime = Math.round(message.uptime_ms / 1000);
	}

	/**
	 * @param {number } ms
	 */
	function sleep(ms) {
		return new Promise((resolve) => setTimeout(resolve, ms));
	}

	/**
	 * @param {{ code: string; }} pressedKey
	 */
	function keyToCommandName(pressedKey) {
		if (pressedKey.code in commandKeyBindings) {
			return pressedKey.code;
		}

		return null;
	}

	/**
	 * @param {{ code: any; }} pressedKey
	 */
	function addActiveCommand(pressedKey) {
		let cmd = keyToCommandName(pressedKey);
		if (cmd != null) {
			// @ts-ignore
			commandsActive[cmd] = true;
		}
	}

	/**
	 * @param {{ code: any; }} pressedKey
	 */
	function removeActiveCommand(pressedKey) {
		let cmd = keyToCommandName(pressedKey);
		if (cmd != null) {
			// @ts-ignore
			commandsActive[cmd] = false;
		}
	}

	function repeatActiveCommands() {
		Object.entries(commandsActive).forEach(function (action) {
			let keyName = action[0];
			let state = action[1];

			if (!!state) {
				// @ts-ignore
				commandKeyBindings[keyName]();
			}
		});
	}

	function startStream() {
		console.log('Starting Streaming');

		if (!!carControlWS) {
			carControlWS.close();
		}

		if (!!commandsIntervalTimer) {
			clearInterval(commandsIntervalTimer);
		}

		// I am not sure if the delay is strictly necessary but
		// it decreases WS open failures rate.
		let wsURL;
		switch (location.protocol) {
			case 'http:':
				wsURL = 'ws://' + location.host + wsURLPath;
				break;
			case 'https:':
				wsURL = 'wss://' + location.host + wsURLPath;
				break;

			default:
				alert('Unknown browser location.protocol value');
				return;
		}

		console.log('Stream websocket: ', wsURL);
		console.log('Stream camera: ', videoURL);
		console.log('Opening websocket');

		carControlWS = new WebSocket(wsURL);
		carControlWS.onmessage = handleCarStatusReport;
		carControlWS.onerror = function (e) {
			console.log('Websocket error: ', e);
			alert('Can not open control WebSocket, try again later');
		};
		carControlWS.onopen = function (e) {
			console.log('Websocket opened: ', e);
			sendControlCommand(carActionSetMoveDuration, carMoveDurationMS);
			sendControlCommand(carActionSetSpeed, carSpeed);

			commandsIntervalTimer = setInterval(repeatActiveCommands, carCommandsRepeatIntervalMS);

			streamRunning = true;
			lVideoURL = videoURL;
		};
	}
	function stopStream() {
		streamRunning = false;

		if (!!commandsIntervalTimer) {
			clearInterval(commandsIntervalTimer);
		}

		lVideoURL = stubVideoURL;
		if (!!carControlWS) {
			carControlWS.close();
		}
	}

	/**
	 * @param {number} action
	 * @param {number} value
	 */
	function sendControlCommand(action, value) {
		// See components/control_stream/control_stream.c#control_load_json for details.
		if (!carControlWS) {
			alert('Start streaming before trying to change parameters or send commands');
			return;
		}

		let cmd = {
			type: 1,
			action: action,
			value: value
		};

		carControlWS.send(JSON.stringify(cmd));
	}

	function rebootCar() {
		fetch(rebootURL, {
			method: 'POST'
		})
			.catch(function (err) {
				alert('Can not send reboot request: ' + err);
			})
			.then(function () {
				alert('The car is restarting, please wait for about 1 minute and refresh the page');
			});
	}
</script>

<!-- <svelte:window on:load={onload} /> -->
<!-- <svelte:window on:keypress={handleKeyPress} /> -->
<svelte:window on:keyup={removeActiveCommand} on:keydown={addActiveCommand} />

<div class="pure-g">
	<div class="pure-u-2-8">
		<div class="pure-g">
			<div class="pure-u-1-1">
				<table class="pure-table fill-width">
					<thead>
						<tr>
							<th>Parameter</th>
							<!-- <th>Configured Value</th> -->
							<th>Reported Value</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Speed</td>
							<!-- <td class="parameter-values">
								<input
									class="fill-width parameter-values"
									type="number"
									min="1"
									max="20"
									value={carSpeed}
								/>
							</td> -->
							<td class="parameter-values">
								<input
									readonly
									class="fill-width parameter-values"
									type="number"
									min="1"
									max="20"
									value={carReportedSpeed}
								/>
							</td>
						</tr>
						<tr>
							<td>Servo Angle</td>
							<!-- <td class="parameter-values">
								<input
									class="fill-width parameter-values"
									type="number"
									min="-90"
									max="90"
									value={servoAngle}
								/>
							</td> -->
							<td class="parameter-values">
								<input
									readonly
									class="fill-width parameter-values"
									type="number"
									min="-90"
									max="90"
									value={carReportedServo}
								/>
							</td>
						</tr>
						<!-- <tr>
							<td>Resolution</td>
							<td class="parameter-values">VGA SelectBox</td>
						</tr> -->
						<tr>
							<td>Distance, sm</td>
							<!-- <td /> -->
							<td class="parameter-values">
								<input
									readonly
									class="fill-width parameter-values"
									type="number"
									min="0"
									max="300"
									value={carReportedSonar}
								/>
							</td>
						</tr>
						<tr>
							<td>Battery, Voltage</td>
							<!-- <td /> -->
							<td class="parameter-values">
								<input
									readonly
									class="fill-width parameter-values"
									type="number"
									min="0"
									max="300"
									value={carReportedBattery}
								/>
							</td>
						</tr>
						<tr>
							<td>Uptime, sec</td>
							<!-- <td /> -->
							<td class="parameter-values">
								<input
									readonly
									class="fill-width parameter-values"
									type="number"
									min="0"
									max="300"
									value={carReportedUptime}
								/>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1-2">
				<div class="pure-g padding-top-1em padding-bottom-1em">
					<div class="pure-u-1-1 align-text-center">Move</div>
				</div>
				<div class="pure-g padding-bottom-05em">
					<div class="pure-u-1-1 align-text-center">
						<button class="pure-button" on:click={moveForward}>
							<img src="/icons/arrow-up.svg" alt="Up" />
						</button>
					</div>
				</div>
				<div class="pure-g">
					<div class="pure-u-1-1 align-text-center">
						<button class="pure-button" on:click={moveLeft}>
							<img src="/icons/arrow-left.svg" alt="Left" />
						</button>
						<button class="pure-button" on:click={moveBack}>
							<img src="/icons/arrow-down.svg" alt="Down" />
						</button>
						<button class="pure-button" on:click={moveRight}>
							<img src="/icons/arrow-right.svg" alt="Right" />
						</button>
					</div>
				</div>
			</div>

			<div class="pure-u-1-2">
				<div class="pure-g padding-top-1em padding-bottom-1em">
					<div class="pure-u-1-1 align-text-center">Camera</div>
				</div>
				<div class="pure-g padding-bottom-05em">
					<div class="pure-u-1-1 align-text-center">
						<button class="pure-button" on:click={cameraLeft}>
							<img src="/icons/arrow-up-left.svg" alt="Camera rotate left" />
						</button>

						<button class="pure-button" on:click={cameraCenter}>
							<img src="/icons/arrow-up.svg" alt="Camera turn center" />
						</button>

						<button class="pure-button" on:click={cameraRight}>
							<img src="/icons/arrow-up-right.svg" alt="Camera rotate right" />
						</button>
					</div>
				</div>
				<div class="pure-g padding-bottom-1em">
					<div class="pure-u-1-1 align-text-center">
						<button class="pure-button" on:click={speedDown}>
							<img src="/icons/patch-minus.svg" alt="Speed Down" />
						</button>
						<button class="pure-button" on:click={speedUp}>
							<img src="/icons/patch-plus.svg" alt="Speed Up" />
						</button>
					</div>
				</div>
				<div class="pure-g">
					<div class="pure-u-1-1 align-text-center">
						{#if streamRunning}
							<button class="pure-button" on:click={stopStream}>Stop Stream</button>
						{:else}
							<button class="pure-button" on:click={startStream}>Start Stream</button>
						{/if}
					</div>
				</div>
			</div>
			<div class="pure-u-1-1">
				<div class="pure-g padding-top-1em align-text-center">
					<div class="pure-u-1-2">
						<button class="pure-button" on:click={rebootCar}>Reboot</button>
					</div>
					<div class="pure-u-1-2">
						<a class="pure-button" href="/settings.html">Configure</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pure-u-6-8 padding-left-1em">
		<div class="pure-g">
			<div class="pure-u-1-1">
				<img src={lVideoURL} alt="Camera real time video stream" />
			</div>
		</div>
	</div>
</div>

<style lang="less">
	.padding-left-1em {
		/* padding-right: 100px; */
		padding-left: 1em;
		/* margin: 10px; */
	}

	.padding-top-1em {
		/* padding-right: 100px; */
		padding-top: 1em;
		/* margin: 10px; */
	}

	.fill-width {
		width: 100%;
	}

	.padding-bottom-1em {
		/* padding-right: 100px; */
		padding-bottom: 1em;
		/* margin: 10px; */
	}

	.padding-bottom-05em {
		padding-bottom: 0.5em;
	}

	.parameter-values {
		text-align: center;
	}

	.align-text-center {
		text-align: center;
	}
</style>
